.user-list-container{
    padding: 5px;
    position: absolute;
    top: -140px; /* Adjust the value as needed */
    height: 120px;
    width: 100px;
    overflow-y: auto;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.user-item{
    cursor: pointer;
}

.user-item:hover{
    color: blue;
    font-weight: 700;
    font-size: 16px;
}